:root {
  --primery-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-white-color: #ffffff;
  --backgr-color-botton: #f5f4fa;
  --accent-button-color: #2196f3;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

a {
  text-decoration: none;
}

.web-logo {
  color: #2196f3;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.studio-logo {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.links .nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.links .nav-link:hover,
.links .nav-link:focus {
  color: #2196f3;
}

.contacts-nav .contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts-nav .contact-link:hover,
.contacts-nav .contact-link:focus {
  color: #2196f3;
}

.hero-tittle {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.features-tittle {
  color: var(--tittle-text-color);
}

.text {
  color: var(--primery-text-color);
}

.button {
  color: var(--tittle-text-color);
  background-color: var(--backgr-color-botton);
}

.current-link {
  color: var(--accent-button-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.section-hero {
  background-color: #2f303a;
  color: var(--accent-white-color);
}

.button:hover,
.button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.button-primary {
  background-color: var(--accent-button-color);
  color: var(--accent-white-color);
}
