:root {
  --primery-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-white-color: #ffffff;
  --backgr-color-botton: #f5f4fa;
  --accent-button-color: #2196f3;
}

ul {
  list-style-type: none;
}

body {
  background-color: #ffffff;
  color: #212121;
}

a {
  text-decoration: none;
}

.contacts-nav :hover,
:focus {
  color: #2196f3;
}

.features-tittle {
  color: var(--tittle-text-color);
}

.text {
  color: var(--primery-text-color);
}

.button {
  color: var(--tittle-text-color);
  background-color: var(--backgr-color-botton);
}

.button.primary {
  color: var(--accent-white-color);
  background-color: var(--accent-button-color);
}

.button.secondary {
  color: var(--tittle-text-color);
  background-color: var(--backgr-color-botton);
}

.current-link {
  color: var(--accent-button-color);
}

.web-logo {
  color: #2196f3;
}

.studio-logo {
  color: #000000;
}

.section-hero {
  background-color: #2f303a;
  color: var(--accent-white-color);
  height: 50 px;
}

.button:hover,
:focus {
  background-color: #2196f3;
  color: #ffffff;
}
