ul {
  list-style-type: none;
}

body {
  background-color: #ffffff;
  color: #212121;
}

a {
  text-decoration: none;
}

.contacts-nav :hover,
:focus {
  color: #2196f3;
}

.features-tittle
  .text
  *
  цвет
  текста
  -
  #212121
  .
  #757575
  при
  нажатии
  -
  #2196F3*/;
